/*override active color from the original blue*/
.list-group-item.active {
    background-color: #2b3035 !important;
    border-bottom: #715A5A;
    font-weight: bolder;
}

.list-group-item {
    border: none;
    border-radius: 20px;
}